---
import DefaultLayout from '@layouts/DefaultLayout.astro';
import Content from '@components/Content.svelte';
---

<DefaultLayout>
  <Content>
    <h1>Page not found</h1>
    <p>The requested page could not be found.</p>
  </Content>
</DefaultLayout>
